# Resit Landing Page Environment Variables
NODE_ENV=development
# The URL where the frontend application is hosted (where the REST API & Workspace live)
# Local development default: http://localhost:3000
# Production: https://app-resit.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3000

# The URL of the landing page itself
NEXT_PUBLIC_SITE_URL=http://localhost:3001

# Active Network: 'testnet' or 'mainnet'
NEXT_PUBLIC_NETWORK=testnet
